/Calculator---ind-form
/Calculator---ind-form.zip
/Calculator---ind-main
/Calculator---ind-main.zip
/diary-ind-login
/diary-ind-login.zip
/diary-ind-main
/diary-ind-main.zip
/diary.zip
/instance
/main.py
/meme-generator-ind-main
/meme-generator-ind-main.zip
/Pipfile
/Pipfile.lock
/portfolio-ind-main.zip
/style.css
/__pycache__